.btn-none
{
    background-color: #cbcbcb;border: 1px;
}
.btn-checked
{
    background-color: #198754;border: 1px;
}

.hide
{
    display: none;
}

img
{
    width: 100%;
}

a
{
    color: #000;
    text-decoration: none;
}
h6
{
    font-size: 14px;
}

.block
{
    display: block;
}

.margin-top-10
{
    margin-top: 10px;
}

.margin-top-20
{
    margin-top: 20px;
}

.margin-top-30
{
    margin-top: 30px;
}

.margin-top-50
{
    margin-top: 50px;
}

.margin-top-70
{
    margin-top: 70px;
}

.margin-top-100
{
    margin-top: 100px;
}

.margin-bottom-10
{
    margin-bottom: 10px;
}

.margin-bottom-20
{
    margin-bottom: 20px;
}

.margin-bottom-30
{
    margin-bottom: 30px;
}

.margin-bottom-50
{
    margin-bottom: 50px;
}

.margin-bottom-70
{
    margin-bottom: 70px;
}

.margin-bottom-100
{
    margin-bottom: 100px;
}

.margin-left-10
{
    margin-left: 10px;
}

.margin-left-20
{
    margin-left: 20px;
}

.margin-left-30
{
    margin-left: 30px;
}

.margin-left-50
{
    margin-left: 50px;
}

.margin-left-70
{
    margin-left: 70px;
}

.margin-left-100
{
    margin-left: 100px;
}

.margin-right-10
{
    margin-right: 10px;
}

.margin-right-20
{
    margin-right: 20px;
}

.margin-right-30
{
    margin-right: 30px;
}

.margin-right-50
{
    margin-right: 50px;
}

.margin-right-70
{
    margin-right: 70px;
}

.margin-right-100
{
    margin-right: 100px;
}

.padding-top-10
{
    padding-top: 10px;
}

.padding-top-20
{
    padding-top: 20px;
}

.padding-top-30
{
    padding-top: 30px;
}

.padding-top-50
{
    padding-top: 50px;
}

.padding-top-70
{
    padding-top: 70px;
}

.padding-top-100
{
    padding-top: 100px;
}

.padding-bottom-10
{
    padding-bottom: 10px;
}

.padding-bottom-20
{
    padding-bottom: 20px;
}

.padding-bottom-30
{
    padding-bottom: 30px;
}

.padding-bottom-50
{
    padding-bottom: 50px;
}

.padding-bottom-70
{
    padding-bottom: 70px;
}

.padding-bottom-100
{
    padding-bottom: 100px;
}

.padding-left-10
{
    padding-left: 10px;
}

.padding-left-20
{
    padding-left: 20px;
}

.padding-left-30
{
    padding-left: 30px;
}

.padding-left-50
{
    padding-left: 40px;
}

.padding-left-70
{
    padding-left: 70px;
}

.padding-left-100
{
    padding-left: 100px;
}

.padding-right-10
{
    padding-right: 10px;
}

.padding-right-20
{
    padding-right: 20px;
}

.padding-right-30
{
    padding-right: 30px;
}

.padding-right-50
{
    padding-right: 50px;
}

.padding-right-70
{
    padding-right: 70px;
}

.padding-right-100
{
    padding-right: 100px;
}

.navbar-bg
{
    background-color: #579DDF;
   
}

.navbar-bg .navbar-nav .nav-link
{
    color: #fff;
}

body
{
    background-color: #ffffff;
}

.pull-right
{
    float: right;
}

.pull-left
{
    float: left;
}

.ul-nostyle
{
    list-style: none;
}

.ul-nostyle.no-padding
{
    padding: 0px;
}

.ul-nostyle.break-point > li
{
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn-none
{
    background-color: #cbcbcb;
}

.container-custom
{
    border:1px solid #F5F5F5;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px #aaaaaa;
    padding:0px;
}
.font-14
{
    font-size: 14px;
}

.tdi_134 .td_block_inner {
    margin-left: -12px;
    margin-right: -12px;
}

.tdi_134 .td_module_wrap {
    padding-left: 12px;
    padding-right: 12px;
}
.tdi_134 .td_module_flex_1 {
    width: 50%;
    float: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.td_module_flex_1, .td_module_flex_3, .td_module_flex_4, .td_module_flex_5 {
    display: inline-block;
    width: 100%;
    padding-bottom: 0;
}
.td_module_wrap {
    position: relative;
    padding-bottom: 35px;
}
.tdi_134 .td_module_flex_1 .td-module-container {
    border-color: #eaeaea;
    flex-direction: column;
}
.td_module_flex_1 .td-module-container, .td_module_flex_3 .td-module-container, .td_module_flex_4 .td-module-container, .td_module_flex_5 .td-module-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.td_module_flex_1 .td-image-container, .td_module_flex_3 .td-image-container, .td_module_flex_4 .td-image-container, .td_module_flex_5 .td-image-container {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}
.td_module_flex_1 .td-module-thumb, .td_module_flex_3 .td-module-thumb, .td_module_flex_4 .td-module-thumb, .td_module_flex_5 .td-module-thumb {
    margin-bottom: 0;
}
.td-module-thumb {
    position: relative;
    margin-bottom: 13px;
}
.tdi_134 .td_module_flex_1 .td-image-wrap {
    padding-bottom: 66%;
}
.td_flex_block_3 .td_module_flex_1 .td-image-wrap {
    padding-bottom: 72%;
}
.td_module_flex_1 .td-image-wrap, .td_module_flex_5 .td-image-wrap {
    padding-bottom: 50%;
}
.td_module_flex_1 .td-image-wrap, .td_module_flex_3 .td-image-wrap, .td_module_flex_4 .td-image-wrap, .td_module_flex_5 .td-image-wrap {
    display: block;
    position: relative;
}
.tdi_134 .td_module_flex_1 .entry-thumb {
    background-position: center 50%;
}
.td_module_flex_1 .td-thumb-css, .td_module_flex_3 .td-thumb-css, .td_module_flex_4 .td-thumb-css, .td_module_flex_5 .td-thumb-css {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
}
.td-module-thumb .entry-thumb {
    display: block;
}
.tdi_134 .td_module_column {
    width: 50%;
    float: left;
}
.td_flex_block_3 .td_module_column, .td_flex_block_4 .td_module_column {
    float: left;
}
.tdi_134 .td_module_wrap {
    padding-left: 12px;
    padding-right: 12px;
}
.tdi_134 .td_module_flex_3 {
    width: 100%;
    float: left;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.td_module_flex_1, .td_module_flex_3, .td_module_flex_4, .td_module_flex_5 {
    display: inline-block;
    width: 100%;
    padding-bottom: 0;
}
.td_module_wrap {
    position: relative;
    padding-bottom: 35px;
}
.tdi_134 .td_module_flex_3 .td-module-container {
    border-color: #eaeaea;
    align-items: center;
}
.td_flex_block_3 .td_module_flex_3 .td-module-container, .td_flex_block_4 .td_module_flex_3 .td-module-container {
    flex-direction: row;
}
.td_module_flex_1 .td-module-container, .td_module_flex_3 .td-module-container, .td_module_flex_4 .td-module-container, .td_module_flex_5 .td-module-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.tdi_134 .td_module_flex_3 .td-image-container {
    flex: 0 0 30%;
    width: 30%;
}
.td_module_flex_1 .td-image-container, .td_module_flex_3 .td-image-container, .td_module_flex_4 .td-image-container, .td_module_flex_5 .td-image-container {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
}
.td_module_flex_1 .td-module-thumb, .td_module_flex_3 .td-module-thumb, .td_module_flex_4 .td-module-thumb, .td_module_flex_5 .td-module-thumb {
    margin-bottom: 0;
}
.td-module-thumb {
    position: relative;
    margin-bottom: 13px;
}
.tdi_134 .td_module_flex_3 .td-image-wrap {
    padding-bottom: 75%;
}
.entry-title a:hover, .td-post-category:hover, .widget a:hover, .td_block_wrap a:hover {
    text-decoration: none !important;
}
.td_module_flex_3 .td-image-wrap, .td_module_flex_4 .td-image-wrap {
    padding-bottom: 70%;
}
.td_module_flex_1 .td-image-wrap, .td_module_flex_3 .td-image-wrap, .td_module_flex_4 .td-image-wrap, .td_module_flex_5 .td-image-wrap {
    display: block;
    position: relative;
}
a:active, a:focus {
    outline: none;
}
a:active, a:hover {
    outline: 0;
}
a, cite a:hover, .td-page-content blockquote p, .td-post-content blockquote p, .mce-content-body blockquote p, .comment-content blockquote p, .wpb_text_column blockquote p, .td_block_text_with_title blockquote p, .td_module_wrap:hover .entry-title a, .td-subcat-filter .td-subcat-list a:hover, .td-subcat-filter .td-subcat-dropdown a:hover, .td_quote_on_blocks, .dropcap2, .dropcap3, .td_top_authors .td-active .td-authors-name a, .td_top_authors .td_mod_wrap:hover .td-authors-name a, .td-post-next-prev-content a:hover, .author-box-wrap .td-author-social a:hover, .td-author-name a:hover, .td-author-url a:hover, .comment-reply-link:hover, .logged-in-as a:hover, #cancel-comment-reply-link:hover, .td-search-query, .widget a:hover, .td_wp_recentcomments a:hover, .archive .widget_archive .current, .archive .widget_archive .current a, .widget_calendar tfoot a:hover, #bbpress-forums li.bbp-header .bbp-reply-content span a:hover, #bbpress-forums .bbp-forum-freshness a:hover, #bbpress-forums .bbp-topic-freshness a:hover, #bbpress-forums .bbp-forums-list li a:hover, #bbpress-forums .bbp-forum-title:hover, #bbpress-forums .bbp-topic-permalink:hover, #bbpress-forums .bbp-topic-started-by a:hover, #bbpress-forums .bbp-topic-started-in a:hover, #bbpress-forums .bbp-body .super-sticky li.bbp-topic-title .bbp-topic-permalink, #bbpress-forums .bbp-body .sticky li.bbp-topic-title .bbp-topic-permalink, .widget_display_replies .bbp-author-name, .widget_display_topics .bbp-author-name, .td-subfooter-menu li a:hover, a.vc_btn-black:hover, .td-smart-list-dropdown-wrap .td-smart-list-button:hover, .td-instagram-user a, .td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-display-option:hover, .td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-display-option:hover i, .td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-link:hover, .td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-item .td-cur-simple-item, .td-pulldown-syle-2 .td-subcat-dropdown:hover .td-subcat-more span, .td-pulldown-syle-2 .td-subcat-dropdown:hover .td-subcat-more i, .td-pulldown-syle-3 .td-subcat-dropdown:hover .td-subcat-more span, .td-pulldown-syle-3 .td-subcat-dropdown:hover .td-subcat-more i, .td_block_template_2 .td-related-title .td-cur-simple-item, .td_block_template_5 .td-related-title .td-cur-simple-item, .td_block_template_6 .td-related-title .td-cur-simple-item, .td_block_template_7 .td-related-title .td-cur-simple-item, .td_block_template_8 .td-related-title .td-cur-simple-item, .td_block_template_9 .td-related-title .td-cur-simple-item, .td_block_template_10 .td-related-title .td-cur-simple-item, .td_block_template_11 .td-related-title .td-cur-simple-item, .td_block_template_12 .td-related-title .td-cur-simple-item, .td_block_template_13 .td-related-title .td-cur-simple-item, .td_block_template_14 .td-related-title .td-cur-simple-item, .td_block_template_15 .td-related-title .td-cur-simple-item, .td_block_template_16 .td-related-title .td-cur-simple-item, .td_block_template_17 .td-related-title .td-cur-simple-item, .td-theme-wrap .sf-menu ul .td-menu-item > a:hover, .td-theme-wrap .sf-menu ul .sfHover > a, .td-theme-wrap .sf-menu ul .current-menu-ancestor > a, .td-theme-wrap .sf-menu ul .current-category-ancestor > a, .td-theme-wrap .sf-menu ul .current-menu-item > a, .td_outlined_btn, .td_block_categories_tags .td-ct-item:hover {
    color: #008d7f;
}
.tdi_134 .td_module_flex_3 .entry-thumb {
    background-position: center 50%;
}
.td_module_flex_1 .td-thumb-css, .td_module_flex_3 .td-thumb-css, .td_module_flex_4 .td-thumb-css, .td_module_flex_5 .td-thumb-css {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
}
.td-module-thumb .entry-thumb {
    display: block;
}